@import '../abstracts/variables';
@import '../abstracts/mixins';

.active {
  @include section-style;

  &__list {
    display: flex;
    flex-direction: column;
    gap: $space16;
  }

  &__card {
    @include section-list-item;

    flex-direction: column;
    align-items: start;
  }

  &__med-content {
    width: 100%;
  }

  &__card-top-content {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: $space8;
    margin-bottom: $space8;
  }

  &__date {
    width: 100%;
    display: flex;
    justify-content: space-between;
    color: $color-warning;
    margin: $space8 0;
    font-weight: 500;
    column-gap: $space16;
  }

  &__card-bottom {
    @include card-bottom-style;
  }

  @include time-and-dosage-style;

  &__medication-delete {
    background: none;
    color: $color-text;
    border: 2px solid $color-primary-light;
    padding: $space5;
  }

  &__med-title {
    display: flex;
    gap: $space16;
    align-items: center;
  }
}