@use "sass:color";
@import '../abstracts/variables';
@import '../abstracts/mixins';

.active {
  @include section-style;

  &__list {
    display: flex;
    flex-direction: column;
    gap: $space16;
  }

  &__card {
    @include section-list-item;

    flex-direction: column;
    align-items: start;
    cursor: pointer;
  }

  &__med-content {
    width: 100%;

    &:not(:last-child) {
      margin-bottom: $space8;
    }
  }

  &__card-header-content {
    width: 100%;

    @include flex-center;

    gap: $space8;
    margin-bottom: $space8;
  }

  &__date {
    width: 100%;
    display: flex;
    justify-content: space-between;
    color: $color-warning;
    margin: $space8 0;
    font-weight: $medium;
    column-gap: $space16;
  }

  &__card-footer {
    @include card-footer-style;
  }

  @include time-and-dosage-and-stock-style;

  &__med-title {
    display: flex;
    gap: $space16;
    align-items: center;
    color: color.mix($color-text, $color-primary, 40%);
    width: max-content;

    &:focus-visible {
      outline: $space2 solid $color-primary-light;
      outline-offset: $space5;
    }

    
  }

}