@use "sass:color";
@import '../abstracts/variables';
@import '../abstracts/mixins';

.calendar {
  @include section-style;

  &__descr {
    text-align: center;
    margin-bottom: $space16;
    font-weight: 500;
  }

  &__header {
    display: flex;
    justify-content: space-between;
  }

  &__weekdays,
  &__grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    text-align: center;
    font-weight: 700;
    margin-bottom: $space8;
  }

  &__day {
    aspect-ratio: 1;
    border: 4px solid $color-primary-light;
    border-radius: $border-radius;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: $font-size18;
  }

  &__day.disease {
    cursor: pointer;
    background-color: color.mix(white, $color-text-light, 70%);

    &:focus-visible {
      outline: none;
      background-color: color.mix(white, $color-primary-light, 85%);
    }
  }

  &__day.accepted {
    background-color: color.mix(white, $color-primary-light, 85%);
    position: relative;

    &::before {
      content: '✓';
      position: absolute;
      left: 20%;
      right: 20%;
      top: 50%;
      transform: translateY(-50%);
      color: #4caf50;
      font-size: 60px;
      font-weight: bold;
    }
  }

  &__day.no-accepted {
    position: relative;
    background-color: color.mix(#f44336, $color-white, 20%);

    &::before {
      content: '×';
      position: absolute;
      left: 20%;
      right: 20%;
      top: 45%;
      transform: translateY(-50%);
      color: #f44336;
      font-size: 60px;
      font-weight: bold;
    }
  }
}