@use "sass:color";
@import '../abstracts/variables';
@import '../abstracts/mixins';

.edit {
    background-color: $color-white;
    border-radius: $space16;
    box-shadow: $box-shadow;
    padding: $space20;
    display: flex;
    flex-direction: column;
    gap: $space16;

    &__top-content,
    &__card-top-content {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: $space8;
        margin-bottom: $space16;
    }

    &__date {
        display: flex;
        justify-content: space-between;
        gap: $space16;
        flex-wrap: wrap;
    }

    &__card-bottom {
        @include card-bottom-style;
    }

    @include time-and-dosage-and-stock-style;

    &__list {
        display: flex;
        flex-direction: column;
        gap: $space16;
    }

    &__item {
        background: #f9f9f9;
        border-radius: $border-radius;
        padding: $space16;
        box-shadow: $box-shadow;
    }

    input{
        height: 100%;
        border: none;
        
        &:hover,
        &:focus {
            outline: none;
        }
    }

    textarea {
        resize: none;
        // height: 100%;
        overflow: hidden;
        // width: 100%;
        border: none;
        field-sizing: content;
        padding: $space8;
        line-height: 1.4;

        &:hover,
        &:focus {
            outline: none;
        }
    }

    textarea:focus,
    input:focus {
        outline: 2px solid $color-primary-light;
    }

    .item-title {
        background-color: inherit;
    }

    &__input-container {
        display: flex;
        align-items: center;
        gap: $space16;

        input {
            padding: $space8;
            text-align: center;
            box-shadow: 0 4px 12px rgb(0 0 0 / 20%);
            border-radius: $border-radius-small;

        }
    }

    &__date--start,
    &__date--end {
        color: $color-warning;
        font-weight: 500;

        input {
            width: 100px;
            color: $color-warning;
            font-weight: 500;
        }
    }

    &__dosage,
    &__stock {
        input {
            padding: 0;
            width: 40px;
        }
    }

    &__save-btn {
        padding: $space16;
        margin-top: $space16;
    }

    &__medication-delete {
        background: none;
        color: $color-text;
        border: 2px solid $color-primary-light;
        padding: $space5;
        border-radius: $border-radius-small;
        font-size: $font-size15;
        font-weight: 500;
        transition: $transition;
        box-shadow: $box-shadow;


        &:hover {
            background-color: $color-primary-light;
            color: $color-white;
        }
    }

    &__add-button {
        font-size: 28px;
        width: 48px;
        height: 48px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
        border-radius: 50%;
        transition: transform .2s;
        background: $color-white;
        color: $color-primary;
        border: 2px solid $color-primary;

        &:hover {
            color: $color-white;
            transform: scale(1.05);
        }
    }

    &__item--choose {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 16px 8px;
        padding: 0;
        margin: $space16 0;
    }

    &__button-choose {
        background-color: $color-background;
        border: 1px solid $color-text;
        border-radius: $border-radius-small;
        padding: $space8;
        font-weight: 500;

        &:hover {
            background-color: $color-primary-light;
            color: $color-white;
            border-color: $color-primary-light;
        }
    }

    &__submit-btn {
        background-color: $color-background;
        border: 1px solid $color-text;
        border-radius: $border-radius-small;
        padding: $space8;
        font-weight: 500;
        width: 100%;
        margin-top: $space16;

        &:hover {
            background-color: $color-primary-light;
            color: $color-white;
            border-color: $color-primary-light;
        }
    }

    &__item-add {
        border: 2px solid color.mix($color-text, $color-background, 10%);
        background-color: $color-white;
    }
}

.arrow-back {
    width: 32px;
    text-align: start;

    &:hover img {
        transform: translateX(-2px);
    }
}