@use 'sass:color';
@import '../abstracts/variables';
@import '../abstracts/mixins';

.modal {
  @include modal-style;

  &__content {
    width: $width-modal-form;
    padding: $space20;

    @include modal-content-style;

    max-height: 600px;
    scrollbar-width: none;
    overflow: auto;
    -ms-overflow-style: none;

    &::-webkit-scrollbar {
      display: none;
    }

    input,
    select {
      @include input-style;
    }

    label {
      @include label-style;
    }
  }

  &__label-time:focus {
    outline: none;
    color: $color-primary-light;
  }

  &__add-more {
    cursor: pointer;
    color: $color-text-light;

    &:focus {
      outline: $space1 solid $color-primary;
    }
  }

  &__buttons {
    display: flex;
    justify-content: center;
    gap: $space16;
  }
}

.modal-assign-again {
  @include modal-style;

  &__content {
    width: $width-modal-form;
    padding: $space20;

    @include modal-content-style;

    input {
      @include input-style;
    }

    label {
      @include label-style;
    }
  }
}

.modal-warning {
  @include modal-style;

  &__content {
    position: absolute;
    top: $space30;
    width: $width-modal;
    padding: $space16 $space20;
    display: flex;
    flex-direction: column;
    border: $space8 solid $color-primary-light;

    @include modal-content-style;
  }

  &__close {
    text-align: end;
  }

  @include modal-descr-style;
}

.modal-confidence {
  @include modal-style;

  &__content {
    position: absolute;
    top: $space30;
    width: $width-modal;
    padding: $space16 $space20;
    display: flex;
    flex-direction: column;
    border: $space8 solid $color-primary-light;

    @include modal-content-style;
  }

  &__close {
    text-align: end;
  }

  @include modal-descr-style;

  &__buttons {
    display: flex;
    justify-content: center;
    gap: $space16;
    margin-top: $space8;

    button {
      padding: $space8;
      font-size: $font-size18;
    }
  }
}

.modal.hidden,
.modal-assign-again.hidden,
.modal-warning.hidden,
.modal-confidence.hidden {
  display: none;
}

.close {
  cursor: pointer;
  font-size: 20px;
  width: $font-size18;
  text-align: center;
  display: block;
}
