@use "sass:color";
@import '../abstracts/variables';
@import '../abstracts/mixins';

.modal,
.modal-assign-again {
  @include modal-style;

  &__content {
    width: 400px;
    padding: $space20;

    @include modal-content-style;

    input,
    select {
      border: none;
      width: 100%;
      margin: $space8 0;
      padding: $space16;
      background-color: color.mix(#1e293b, $color-background, 3%);
      border-radius: $border-radius;
      font-size: $font-size15;
      color: $color-text;

      &:focus {
        outline: 1px solid $color-primary;
        box-shadow: $box-shadow;
      }
    }

    label {
      color: $color-primary;
      font-weight: 500;
      padding-left: $space16;
      display: block;
      text-align: start;
    }
  }

  &__add-more {
    cursor: pointer;
    color: $color-text-light;
  }
}

.modal-warning {
  @include modal-style;

  &__content {
    position: absolute;
    top: $space30;
    width: 500px;
    padding: $space16 $space20;
    display: flex;
    flex-direction: column;
    border: $space8 solid $color-primary-light;

    @include modal-content-style;
  }

  &__close {
    text-align: end;
  }

  &__descr {
    font-size: 25px;
    font-weight: 500;
  }
}

.modal.hidden,
.modal-assign-again.hidden,
.modal-warning.hidden {
  display: none;
}

.close {
  float: right;
  cursor: pointer;
  font-size: 20px;
}