@use "sass:color";
@import '../abstracts/variables';
@import '../abstracts/mixins';

.modal {
  @include modal-style;

  &__content {
    width: 400px;
    padding: $space20;

    @include modal-content-style;

    max-height: 600px;
    overflow: auto;

     /* Для Chrome, Safari, Edge */
  scrollbar-width: none;
  /* Firefox */
  -ms-overflow-style: none;
  /* IE и Edge */
  overflow: -moz-scrollbars-none;
  /* Скрываем скроллбар в WebKit (Chrome, Safari) */

    input,
    select {
      @include input-style;
    }

    label {
      @include label-style;
    }
  }

  &__add-more {
    cursor: pointer;
    color: $color-text-light;
  }

  &__buttons {
    display: flex;
    justify-content: center;
    gap: $space16;
  }
}

.modal-assign-again {
  @include modal-style;

  &__content {
    width: 400px;
    padding: $space20;

    @include modal-content-style;

    input {
      @include input-style;
    }

    label {
      @include label-style;
    }
  }
}

.modal-warning {
  @include modal-style;

  &__content {
    position: absolute;
    top: $space30;
    width: 500px;
    padding: $space16 $space20;
    display: flex;
    flex-direction: column;
    border: $space8 solid $color-primary-light;

    @include modal-content-style;
  }

  &__close {
    text-align: end;
  }

  @include modal-descr-style;
}

.modal-confidence {
  @include modal-style;

  &__content {
    position: absolute;
    top: $space30;
    width: 500px;
    padding: $space16 $space20;
    display: flex;
    flex-direction: column;
    border: $space8 solid $color-primary-light;

    @include modal-content-style;
  }

  &__close {
    text-align: end;
  }

  @include modal-descr-style;

  &__buttons {
    display: flex;
    justify-content: center;
    gap: $space16;
    margin-top: $space8;

    button {
      padding: $space8;
      font-size: $font-size18;
    }
  }

}

.modal.hidden,
.modal-assign-again.hidden,
.modal-warning.hidden,
.modal-confidence.hidden {
  display: none;
}

.close {
  float: right;
  cursor: pointer;
  font-size: 20px;
}