@import '../abstracts/variables';
@import '../abstracts/mixins';

.reception-list {
  padding: 0;
  margin: 0 0 $space20;

  &__item {
    @include section-list-item;

    transition: $transition;

    @include flex-bassis-title;
  }

  @include time-and-dosage-and-stock-style;

  &__stock {
    display: inline-block;
    background-color: $color-background;
    padding: $space5 10px;
    border-radius: 20px;
    font-size: $font-size15;
    color: $color-text-light;
  }
}