@import '../abstracts/variables';
@import '../abstracts/mixins';

.stock-list {
  padding: 0;

  &__item {
    @include section-list-item;
    border-top: $space5 solid $color-warning;
  }

  @include flex-bassis-title;

  &__stock {
    color: $color-warning;
    font-weight: 500;
    margin-top: $space8;
  }
}