@use "sass:color";
@import '../abstracts/variables';
@import '../abstracts/mixins';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: black;
}

li { list-style: none; }

body {
  font-family: $font-family;
  background-color: $color-background;
  color: $color-text;
  font-size: $font-size15;
  line-height: 1.5;
  padding: $space20;
}

button {
  cursor: pointer;
}

.list-title {
  font-size: 24px;
  font-weight: 600;
  color: $color-text;
  margin: $space30 0 $space16;
  background-color: inherit;

  &:first-of-type {
    margin-top: 0;
  }
}

.item-title {
  font-size: 19px;
  font-weight: 600;
  color: $color-text;
  margin-bottom: $space5;
  background-color: inherit;
}

.item-button {
  background-color: $color-primary-light;
  color: $color-white;
  border: none;
  border-radius: $border-radius-small;
  padding: $space8 $space16;
  font-size: $font-size15;
  font-weight: 500;
  transition: $transition;
  box-shadow: $box-shadow;

  &:focus-visible {
    outline: none;
    background-color: $color-primary;
    box-shadow: $box-shadow-hover;
  }
}

.add-button {
  display: block;
  width: fit-content;
  margin: $space30 auto 0;
  padding: 14px 32px;
  font-size: $font-size18;
  font-weight: 500;
  background-color: $color-primary;
  color: $color-white;
  border: none;
  border-radius: $border-radius-small;
  box-shadow: $box-shadow;
  transition: $transition;

  &:focus-visible {
    outline: none;
    background-color: color.mix(white, $color-primary, 10%);
  }
}

.card-button {
  background: none;
  color: $color-text;
  border: $space2 solid $color-primary-light;
  padding: $space5;
  border-radius: $border-radius-small;
  font-size: $font-size15;
  font-weight: 500;
  transition: $transition;
  box-shadow: $box-shadow;

  &:focus-visible {
    outline: none;
    background-color: $color-primary-light;
    color: $color-white;
  }
}

.dark-button {
  background-color: $color-background;
  border: $space1 solid $color-text;
  border-radius: $border-radius-small;
  padding: $space8;
  font-weight: 500;
}

.descr-not {
  text-align: center;
}

.arrow {
  background: none;
  border: none;
  cursor: pointer;

  &:focus-visible {
    outline: none;
  }

  &:focus-visible img{
    outline: $space2 solid $color-primary-light;
    outline-offset: $space5;
  }
}

.container-cards-hidden {
  margin-top: $space16;
}

.button-open-cards {
  color: $color-primary;
  border: none;
  background: none;
  padding-left: $space16;

  &:focus-visible {
    outline: none;
    color: $color-text-light;
  }
}

.button-open-cards.colorLight {
  color: $color-text-light;

  &:focus-visible {
    outline: none;
    color: $color-primary;
  }
}

.close {
  &:focus-visible {
    outline: none;
    color: $color-primary-light;
  }
}

.no-scroll {
  overflow: hidden;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}