@use "sass:color";
@import '../abstracts/variables';
@import '../abstracts/mixins';

@media #{$has-hover} {
  .item-button:hover {
    background-color: $color-primary;
    box-shadow: $box-shadow-hover;
  }

  .add-button:hover {
    background-color: color.mix(white, $color-primary, 10%);
  }

  .active__card:hover,
  .archive__card:hover,
  .reception-list__item:hover {
    box-shadow: $box-shadow-hover;
  }

  .header-list__link:hover {
    color: $color-primary;
    border-bottom-color: $color-primary-light;
  }
}

@media (max-width: $breakpoint-tablet) {
  .close {
    font-size: $font-size25;
  }

  body {
    padding: $space8;
  }

  .header__nav {
    display: block;
  }

  .header-list {
    justify-content: space-between;

    &__open {
      position: relative;
      display: flex;
      width: $space30;
      height: $space30;
    }

    &__mobile {
      position: absolute;
      display: none;
      right: $space30;
      background-color: color.mix(#1e293b, $color-background, 7%);
      box-shadow: $box-shadow;
      padding: $space16 $space8;
      flex-direction: column;
      gap: $space8;
      border-radius: $border-radius-small;
    }
  }

  .reception-list {
    &__stock {
      flex-basis: 100%;
      text-align: center;
    }
  }

  .missed-list {
    @include item-button-mobile;
  }

  .active {
    @include section-style-mobile;

    &__date {
      flex-wrap: wrap;
    }
  }

  .item-button.active__disease-delete {
      flex-basis: 0%;
  }

  .archive {
    @include section-style-mobile;
  }

  .modal {
    &__content {
      width: 100%;
      max-width: 100%;
      height: 100%;
      border-radius: 0;
    }

    &__buttons {
      margin-top: $space8;
      flex-wrap: wrap;
      button {
        flex-basis: 100%;
      }
    }

  }

  .modal-warning {
    &__descr {
      font-size: $font-size18;
    }
  }

  .edit {
    position: relative;

    input {
      width: 100%;
      padding: $space8;
    }

    &__date {
      flex-direction: column;
    }

    &__input-container {
      width: 100%;
      justify-content: space-between;
    }

    &__disease-delete {
      position: absolute;
      right: 20px;
      top: 20px;
    }

    &__card-top-content,
    &__card-bottom {
      flex-direction: column;
      align-items: start;
    }

    &__medication-delete {
      width: 100%;
      margin-top: $space8;
    }

    &__item--choose {
      grid-template-columns: repeat(2, 1fr);
    }

    &__input-container {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
    }

    &__dosage-type {
      display: none;
    }
  }

  .calendar__day.accepted::before {
    font-size: 40px;
  }

  .calendar__day.no-accepted::before {
    font-size: 44px;
  }
}

@media (max-width: 423px) {
  .edit {
    padding: $space16;

    &__item {
      padding: $space8;
    }

    &__item--choose {
      grid-template-columns: repeat(1, 1fr);
    }

    &__input-container {
      grid-template-columns: repeat(1, 1fr);
    }

  }

  .calendar__day.accepted::before {
    // top: 40%;
    font-size: 30px;
  }

  .calendar__day.no-accepted::before {
    font-size: 30px;
  }
}