@import './variables';

@mixin section-style {
  max-width: 800px;
  margin: 0 auto;
  padding-bottom: $space30;
}

@mixin section-list-item {
  background-color: $color-white;
  border-radius: $border-radius;
  box-shadow: $box-shadow;
  padding: $space20;
  margin-bottom: $space16;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

@mixin flex-bassis-title {
  .item-title {
    flex-basis: 100%;
  }
}

@mixin time-and-dosage-style {
  &__dosage,
  &__time {
    color: $color-text-light;
    font-size: $font-size15;
    margin: $space5 0;
  }
}